.audio_tab {
	.greeting_tab {
		width: 100%;
		.v-btn {
			width: 25%;
			background-color: $white !important;	
			font-size: 14px;
			color: $primary;
			font-weight: 400;
			border-right: 1px solid $light-text-color !important;
		}
		.v-btn--active {
			background-color: $button !important;
			color: $white !important;
		}		
	}

	.agent_tab {
		width: 100%;
		.v-btn {
			width: 50%;
			background-color: $white !important;	
			font-size: 14px;
			color: $primary;
			font-weight: 400;
			border-right: 1px solid $light-text-color !important;
		}
		.v-btn--active {
			background-color: $button !important;
			color: $white !important;
		}					
	}	

	.panel_content {
		margin-top: 15px;
		background: $background;
		padding: 20px;
		border: 1px solid $grey_shades_3;
		border-radius: 5px;
		.v-input {
			font-size: 14px !important;
		}
		.greet_call_actions {
			display: flex;
			justify-content: space-between;
			.v-select__selections {
				max-width: 80px;
			}
			label {
				margin-top: 10px;
				margin-right: 10px;
				font-size: 14px;
				font-weight: 600;
			}
			.sound_action {
				// margin-top: -15px;
				cursor: pointer;
				display: flex;
				// align-items: center;
				i {
					font-size: 20px;
				}
				p {
					font-size: 15px;
					margin: 0px 0px 0px 7px !important;
				}
			}

		}				
	}	
}