$body-font-family : "Roboto";
$text-color: #93a2b9;
$light-text-color: #e1e5eb;
$light-text-color_1: #b2c2cc;
$light-text-color_2: #757f90;
$light-text-color_3: #e8e8eb;
$blue: #0095ff;
$white: #fff;
$background: #fafbfc;
$primary: #4d5f7a;
$bold-primary:#3a4a63;
$button: #637591;
$links: #0095ff;
$success: #15bf81;
$warning: #ffba5a;
$error: #ff6666;
$grey_shades_1: #fafbfc;
$grey_shades_2: #edf0f5;
$grey_shades_3: #e1e5eb;
$grey_shades_4: #ced2db;
$grey_shades_5: #acb4c2;
$grey_shades_6: #848ea1;
$graphs_1: #d28cbd;
$graphs_2: #ffba5a;
$graphs_3: #78d8de;
$graphs_4: #a78375;
$graphs_5: #b9d581;
$graphs_6: #898ddd;
$graphs_7: #f3e67b;
$graphs_8: #537ca6;
$graphs_9: #50bff2;
$graphs_10: #ff6666;
$graphs_11: #15bf81;